# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# Django
db.sqlite3
staticfiles/
media/
uploads/

# Logs
*.log

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build / Cache
*.egg-info/
dist/
build/
