{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">
<link rel="stylesheet" href="{% static 'css/friend_home.css' %}">
{% endblock %}

{% block content %}
<!-- ★ 右上ID表示 -->
    <div class="top-right-id">
        ID: {{ user.unique_id }}
        <a href="{% url 'friend_home' %}#add-friend" class="jump-btn">HOME</a>
        <a href="{% url 'friend_request' %}" class="jump-btn">フレンド追加</a>
        <a href="{% url 'friend_list' %}" class="jump-btn">フレンド一覧</a>
        <a href="#group-list" class="jump-btn">グループ一覧</a>
        <a href="{% url 'group_create' %}" class="jump-btn">グループ作成</a> 
        <a href="{% url 'friend_profile' %}" class="jump-btn">プロフィール</a> 
       
    </div>

<h2>グループ作成</h2>

<div class="group-create-wrapper">
    <form method="POST" action="{% url 'create_group' %}">
        {% csrf_token %}
        <label>グループ名</label>
        <input type="text" name="group_name" required>

        <button type="submit">作成</button>
    </form>
</div>

{% endblock %}
